body{
    min-height: 100vh;
    margin: auto;
    background-image: url(resources/pageBk.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #5f5959;
    background-position: center center;
    text-align: center;
    font-family: 'Macondo', cursive;
    color: antiquewhite;
    text-shadow: 2px 2px #2a2a2a;
    cursor: url(resources/spr_cursor.png), auto;
}

a{
    cursor: url(resources/spr_cursor.png), auto;
}

.img {  
    /*Creamos al clase imágen */
    border-radius:  1000cm;      /*Borde redondeado con tamaño*/
    border-color: #027c27;   /*Color del borde en la foto*/
    border-style: initial;      /*Estilo de borde en la foto*/ 
}

.tm{
    padding-top: 6%;
}

.shadow{
    box-shadow: violet;
}

.logo {
    padding: 10px 0 0 0;
}

.topnav {
    overflow: hidden;
    background-color: #0075c4;
}

.topnav a {
color: #ffffff;
text-shadow: 2px 2px #00548c;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
color: #00548c;
text-shadow: 2px 2px #ffffff;
}

.topnav a.active {
background-color: #add300;
color: #0075c4;
}